body{
	background: #f7f7f7;
	margin: 0;
	padding: 0;
	user-select: none;
    
  display: block;
  min-width: 825px;
}

a{
	text-decoration: none;
}

/* ------------------ Header ------------------ */
.header-meta-nav {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #333;
    padding-top: 10px;
    padding-right: 80px;
}

.site-header {
    width: 100%;
    background: #ffffff;
    border-top: 12px solid #a0ecf6;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.header-logo a {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    margin-right: 20px;
}

.logo { 
    height: 50px; 
    width: 200px; 
}

.logo2 { 
    height: 50px; 
    width: 60px; 
}

.divider {
    margin: 0 10px;
    color: #ccc;
}

.lupe{
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
}

#searchInput {
    display: block; /* Immer im DOM, aber unsichtbar skaliert */
    background: transparent;
    border: none;
    border-bottom: 2px solid #a0ecf6;
    padding: 5px 0;
    margin-right: 10px;
    outline: none;
    font-size: 15px;
    color: #333;
    cursor: pointer;
    
    /* Animationseinstellungen */
    width: 200px;
    transform: scaleX(0); /* Startet bei Größe 0 */
    transform-origin: right; /* Animation startet links */
    transition: transform 0.2s ease-in-out; 
}

#searchInput.show {
    transform: scaleX(1); /* Wächst auf volle Größe */
    display: inline-block;
    width: 200px;
}

#searchInput::placeholder {
    color: #bbb;
    font-style: italic;
}

.nav-item {
    display: flex;
    align-items: center;
    position: relative;
}

.nav-login {
    cursor: pointer;
    color: #333;
    white-space: nowrap;
    transition: color 0.15s;
}

.nav-login:hover {
    color: rgb(144, 213, 223); /* Nutzt dein Hellblau als Hover-Effekt */
}

.nav-settings{
    cursor: pointer;
    color: #333;
    white-space: nowrap;
    transition: color 0.15s;
}

.nav-settings:hover {
    color: rgb(144, 213, 223); /* Nutzt dein Hellblau als Hover-Effekt */
}

.dropdown-content {
    position: absolute;
    top: 25px; /* Direkt unter dem Text */
    right: -20px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    z-index: 100;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #eee;

    transform: scaleY(0);      /* Auf 0 zusammengepfercht */
    transform-origin: top;     /* Fixpunkt oben */
    opacity: 0;                /* Unsichtbar */
    pointer-events: none;      /* Klicks gehen "durch" das Menü hindurch */
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), 
                opacity 0.2s ease-in-out;
}

.dropdown-content a {
    color: #444;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #f7f7f7;
}

.dropdown-content.show {
    transform: scaleY(1);      /* Auf volle Größe ausfahren */
    opacity: 1;                /* Sichtbar machen */
    pointer-events: auto;      /* Klicks wieder empfangen */
}

.show { 
    display: block !important; 
}

.menu-item-flex {
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #444;
    font-size: 14px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #a0ecf6;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

.main-navigation ul {
    list-style: none;
    display: flex;
    gap: 30px;
    padding-left: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    border-top: 1px solid #eee;
    font-weight: bold;
    color: #444;
}

.main-navigation li { 
    cursor: pointer;
    transition: color 0.15s; 
}
.main-navigation li:hover { 
    color: rgb(144, 213, 223); 
}
/* ------------------ Header-End ------------------ */



/* ------------------ Main ------------------ */
.auswahl-container{
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;  /* alles horizontal zentrieren */
    align-items: flex-start;  /* oben ausrichten */
    gap: 50px 100px;              /* Abstand zwischen Boxen und Spielfeld */
    margin-top: 40px;
    max-width: 90%;
    margin-left: auto;  /* links automatisch */
    margin-right: auto; /* rechts automatisch */
}

.game {
    transition: opacity 0.3s ease;
}

.game.hidden {
    display: none;
}

.tictactoe{
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
    font-family: 'Press Start 2P', system-ui;
}

.ticimg{
    border: #333 1px solid;
    border-radius: 10px;
}

.connectfour{
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
    font-family: 'Press Start 2P', system-ui;
}

.conimg{
    margin-top: 15px;
    border: #333 1px solid;
    border-radius: 10px;
}

.battleship{
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
    font-family: 'Press Start 2P', system-ui;
}

.zwei{
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
    font-family: 'Press Start 2P', system-ui;
}
.zweimg{
    border: 1px #333 solid;
    border-radius: 10px;
}

.solitaire{
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
    font-family: 'Press Start 2P', system-ui;
}

.solimg{
    margin-top: 30px;
    outline: #333 1px solid;   /* Äußerer Rahmen */
    outline-offset: 10px;
    border-radius: 5px;
}

.yazy{
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
    font-family: 'Press Start 2P', system-ui;
}

.kniimg{
    border: 1px #333 solid;
    border-radius: 10px;
}

.dotsandboxes{
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
    font-family: 'Press Start 2P', system-ui;
    
}

.kkimg{
    border-radius: 10px;        /* Abrundung für Bild und Border */
    
    /* 1. Die "Offset-Farbe" (Innere Füllung) */
    border: 3px solid rgba(211, 250, 255, 0.5);  /* Ersetze #ff0000 mit deiner Wunschfarbe */
    
    /* 2. Der äußere Rahmen */
    outline: #333 1px solid;
    
    /* WICHTIG: Kein Offset nutzen, da der Border den Platz füllt */
    outline-offset: 0px;
}
/* ------------------ Main-End ------------------ */



/* ------------------ Footer ------------------ */
.site-footer {
    width: 100%;
    background-color: #a0ecf6; 
    color: white;
    padding: 30px 0;
    margin-top: 50px;
}

.footer-social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.icon {
    background: white;
    color: #a0ecf6;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.8rem;
}

.footer-nav {
    text-align: center;
    font-size: 0.8rem;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.footer-nav a:hover {
    text-decoration: underline;
}
/* ------------------ Footer-End ------------------ */