html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
}

body{
	background: #f7f7f7;
	margin: 0;
	padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Comic Neue', cursive;
}

/* Comic Neue lokal einbinden */
@font-face {
    font-family: 'Comic Neue';
    src: url('../fonts/ComicNeue-Regular.woff2') format('woff2'),
         url('../fonts/ComicNeue-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Comic Neue2';
    src: url('../fonts/ComicNeue-Bold.woff2') format('woff2'),
         url('../fonts/ComicNeue-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Comic Neue3';
    src: url('../fonts/ComicNeue-Bold.woff2') format('woff2'),
         url('../fonts/ComicNeue-Bold.woff') format('woff');
    font-weight: 1200;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, .button, nav, a, .header, div, button{
    font-family: 'Comic Neue2', cursive !important;
}

a, a:visited{
	text-decoration: none;
}

.main-wrapper, .main, .auswahl-container {
    flex: 1 0 auto; /* Drückt den Footer nach unten */
}

/* ------------------ Header ------------------ */
.resetImg{
    height: 40px;
    width: 40px;
}

.header-meta-nav {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #333;
    padding-top: 10px;
    padding-right: 90px;
    font-family: 'Comic Neue2', cursive;
}

.site-header {
    width: 100%;
    background: #ffffff;
    border-top: 12px solid #a0ecf6;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 90px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.header-logo a {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    margin-right: 20px;
}

.logo { 
    height: 50px; 
    width: 200px; 
}

.logo2 { 
    height: 50px; 
    width: 60px; 
}

.divider {
    margin: 0 10px;
    color: #ccc;
}

.lupe{
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
}

#searchInput {
    display: block; /* Immer im DOM, aber unsichtbar skaliert */
    background: transparent;
    border: none;
    border-bottom: 2px solid #a0ecf6;
    padding: 5px 0;
    margin-right: 10px;
    outline: none;
    font-size: 15px;
    color: #333;
    cursor: pointer;
    
    /* Animationseinstellungen */
    width: 200px;
    transform: scaleX(0); /* Startet bei Größe 0 */
    transform-origin: right; /* Animation startet links */
    transition: transform 0.2s ease-in-out; 
    
    font-family: 'Comic Neue2', cursive;
}

#searchInput.show {
    transform: scaleX(1); /* Wächst auf volle Größe */
    display: inline-block;
    width: 200px;
}

#searchInput::placeholder {
    color: #bbb;
    font-family: 'Comic Neue2', cursive;
}

.search-suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 0 0 8px 8px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    display: none; /* Am Anfang unsichtbar */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    
    font-family: 'Comic Neue2', cursive;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #eee;
}

.suggestion-item:hover {
    background-color: #f0f8ff;
}

.suggestion-item img {
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

.nav-item {
    display: flex;
    align-items: center;
    position: relative;
}

.nav-login {
    cursor: pointer;
    color: #333;
    white-space: nowrap;
    transition: color 0.15s;
}

.nav-login:hover {
    color: rgb(144, 213, 223); /* Nutzt dein Hellblau als Hover-Effekt */
}

.nav-settings{
    cursor: pointer;
    color: #333;
    white-space: nowrap;
    transition: color 0.15s;
}

.nav-settings:hover {
    color: rgb(144, 213, 223); /* Nutzt dein Hellblau als Hover-Effekt */
}

.dropdown-content {
    position: absolute;
    top: 25px; /* Direkt unter dem Text */
    right: -20px;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    z-index: 100;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #eee;

    transform: scaleY(0);      /* Auf 0 zusammengepfercht */
    transform-origin: top;     /* Fixpunkt oben */
    opacity: 0;                /* Unsichtbar */
    pointer-events: none;      /* Klicks gehen "durch" das Menü hindurch */
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), 
                opacity 0.2s ease-in-out;
}

.dropdown-content a {
    color: #444;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #f7f7f7;
}

.dropdown-content.show {
    transform: scaleY(1);      /* Auf volle Größe ausfahren */
    opacity: 1;                /* Sichtbar machen */
    pointer-events: auto;      /* Klicks wieder empfangen */
}

.show { 
    display: block !important; 
}

.menu-item-flex {
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #444;
    font-size: 14px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #a0ecf6;
}

input:checked + .slider:before {
    transform: translateX(14px);
}

.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

.main-navigation ul {
    list-style: none;
    display: flex;
    gap: 30px;
    padding-left: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    border-top: 1px solid #eee;
    font-weight: bold;
    font-size: 18px;
    color: #444;
    
    font-family: 'Comic Neue2', cursive;
}

.main-navigation li a{ 
	color: #333;
    cursor: pointer;
    transition: color 0.15s; 
}
.main-navigation li a:hover { 
    color: rgb(144, 213, 223); 
}
/* ------------------ Header-End ------------------ */



/* ------------------ Head-Bar ------------------ */
.head {
    display: flex;
    padding-top: 25px;
    justify-content: space-between; /* verteilt die drei Divs gleichmäßig auf die Breite */
    align-items: flex-start;        /* oben ausrichten */
    padding-left: 23px;             /* etwas Abstand zum Rand */
    padding-right: 23px;
}

.header{
	font-size: 38px;
	text-align: center;
	font-weight: 500;
	padding-top: 20px;
	display: inline-block;
    
    font-family: 'Comic Neue2', cursive;
}

.reset{
	display: inline-block;
	font-size: 38px;
	cursor: pointer;
}

.muteBtn img{
    cursor: pointer;
	width: 40px;
    height: 40px;
}
/* ------------------ Head-Bar-End ------------------ */

/* ------------------ Footer ------------------ */
.site-footer {
    width: 100%;
    background-color: #a0ecf6; 
    color: white;
    padding: 30px 0;
    margin-top: 50px;
    flex-shrink: 0;
}

.footer-social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.icon {
    background: white;
    color: #a0ecf6;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.8rem;
}

.footer-nav {
    text-align: center;
    font-size: 0.8rem;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.license{
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
}
/* ------------------ Footer-End ------------------ */