body {
    min-width: 850px;
}

.text {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 10px;
}

.bg {
    width: 85%;
    background-color: #fff;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
}

a, a:visited{
    text-decoration: none;
    color: #5de5f7;
}

a:hover{
    text-decoration: none;
    color: #3cb0bf;
}

.footer-nav a, .footer-nav a:visited{
    text-decoration: none;
    color: #fff;
}