body{
    min-width: 850px;
}

/* ------------------ Main ------------------ */
.auswahl-container{
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;  /* alles horizontal zentrieren */
    align-items: flex-start;  /* oben ausrichten */
    gap: 30px 100px;              /* Abstand zwischen Boxen und Spielfeld */
    margin-top: 40px;
    max-width: 90%;
    margin-left: auto;  /* links automatisch */
    margin-right: auto; /* rechts automatisch */
    
    font-family: cursive;
}

.game {
    transition: opacity 0.3s ease;
}

.game.hidden {
    display: none;
}

#noGamesMessage {
    display: none; /* Standardmäßig aus, JS schaltet es an */
    width: 100%;
    text-align: center;
    margin-bottom: 200px;
}

#noGamesMessage h2 {
    color: #555; 
    font-family: sans-serif;
}

.tictactoe{
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
}

.ticimg{
    border: #333 1px solid;
    border-radius: 10px;
}

.connectfour{
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
}

.conimg{
    margin-top: 15px;
    border: #333 1px solid;
    border-radius: 10px;
}

.battleship{
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
}

.zwei{
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
}
.zweimg{
    border: 1px #333 solid;
    border-radius: 10px;
}

.solitaire{
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
}

.solimg{
    margin-top: 30px;
    outline: #333 1px solid;   /* Äußerer Rahmen */
    outline-offset: 6px;
    border-radius: 5px;
}

.yazy{
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
}

.kniimg{
    border: 1px #333 solid;
    border-radius: 10px;
}

.dotsandboxes{
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
    
}

.kkimg{
    border-radius: 10px;        /* Abrundung für Bild und Border */
    
    /* 1. Die "Offset-Farbe" (Innere Füllung) */
    border: 3px solid rgba(211, 250, 255, 0.5);  /* Ersetze #ff0000 mit deiner Wunschfarbe */
    
    /* 2. Der äußere Rahmen */
    outline: #333 1px solid;
    
    /* WICHTIG: Kein Offset nutzen, da der Border den Platz füllt */
    outline-offset: 0px;
}

.memory{
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
}

.memimg{
    margin-top: 23px;
    /* 1. Die "Offset-Farbe" (Innere Füllung) */
    border: 5px solid #f7f7f7;  /* Ersetze #ff0000 mit deiner Wunschfarbe */
    
    /* 2. Der äußere Rahmen */
    outline: #333 1px solid;
    
    /* WICHTIG: Kein Offset nutzen, da der Border den Platz füllt */
    outline-offset: 0px;
    border-radius: 10px;
}

.mathquiz{
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
}

.mathimg{
    margin-top: 12px;
    border: 1px #333 solid;
    border-radius: 10px;
}
/* ------------------ Main-End ------------------ */



/* ------------------ Footer ------------------ */
.site-footer {
    width: 100%;
    background-color: #a0ecf6; 
    color: white;
    padding: 30px 0;
    margin-top: 50px;
}

.footer-social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.icon {
    background: white;
    color: #a0ecf6;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.8rem;
}

.footer-nav {
    text-align: center;
    font-size: 0.8rem;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.footer-nav a:hover {
    text-decoration: underline;
}
/* ------------------ Footer-End ------------------ */