body {
    min-width: 850px;
}

@font-face {
    font-family: 'Comic Neue';
    src: url('../fonts/ComicNeue-Regular.woff2') format('woff2'),
        url('../fonts/ComicNeue-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Comic Neue2';
    src: url('../fonts/ComicNeue-Bold.woff2') format('woff2'),
        url('../fonts/ComicNeue-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* ------------------ Main ------------------ */
.auswahl-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* alles horizontal zentrieren */
    align-items: flex-start;
    /* oben ausrichten */
    gap: 30px 100px;
    /* Abstand zwischen Boxen und Spielfeld */
    margin-top: 40px;
    max-width: 90%;
    font-size: 18px;
    margin-left: auto;
    /* links automatisch */
    margin-right: auto;
    /* rechts automatisch */

    font-family: 'Comic Neue2', cursive;
}

.game {
    transition: opacity 0.3s ease;
}

.game.hidden {
    display: none;
}

#noGamesMessage {
    display: none;
    /* Standardmäßig aus, JS schaltet es an */
    width: 100%;
    text-align: center;
    margin-bottom: 200px;
}

#noGamesMessage h2 {
    color: #555;
    font-family: sans-serif;
}

.tictactoe {
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
}

.ticimg {
    border: #333 1px solid;
    border-radius: 10px;
}

.connectfour {
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
}

.conimg {
    border-radius: 10px;
    border: #333 1px solid;
}

.battleship {
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
}

.batimg{
    border: 1px #333 solid;
    border-radius: 10px;
}

.zwei {
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
}

.zweimg {
    border: 1px #333 solid;
    border-radius: 10px;
}

.solitaire {
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
}

.solimg {
    border: #333 1px solid;
    border-radius: 10px;
}

.yazy {
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
}

.kniimg {
    border: 1px #333 solid;
    border-radius: 10px;
}

.dotsandboxes {
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
}

.kkimg {
    border: #333 1px solid;
    border-radius: 10px;
}

.memory {
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
}

.memimg {
    border: #333 1px solid;
    border-radius: 10px;
}

.mathquiz {
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
}

.mathimg {
    border: 1px #333 solid;
    border-radius: 10px;
}

/* ------------------ Main-End ------------------ */



/* ------------------ Footer ------------------ */
.site-footer {
    width: 100%;
    background-color: var(--blue);
    color: white;
    padding: 30px 0;
    margin-top: 50px;
}

.footer-social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.icon {
    background: white;
    color: var(--blue);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.8rem;
}

.footer-nav {
    text-align: center;
    font-size: 0.8rem;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.footer-nav a:hover {
    text-decoration: underline;
}

/* ------------------ Footer-End ------------------ */