body {
    min-width: 890px;
}

@font-face {
    font-family: 'Comic Neue';
    src: url('../fonts/ComicNeue-Regular.woff2') format('woff2'),
        url('../fonts/ComicNeue-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Comic Neue2';
    src: url('../fonts/ComicNeue-Bold.woff2') format('woff2'),
        url('../fonts/ComicNeue-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/* ------------------ Main ------------------ */
/* WICHTIG: Die Kachel muss relativ sein */
.game {
    position: relative;
    display: inline-block;
}

/* Das kleine Info-i */
.info-icon {
    position: absolute;
    top: 0px;   /* Etwas Abstand von oben */
    left: 175px;  /* Etwas Abstand von links */
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    font-family: "Georgia", serif;
    color: #333;
    font-style: italic;
    cursor: pointer;
    z-index: 5; /* Liegt über dem Bild */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: transform 0.2s ease;
}

.info-icon:hover {
    transform: scale(1.2);
}

/* Modal Design */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0; top: 0; width: 100%; height: 100%;
    background: rgba(226, 226, 226, 0.4);
    backdrop-filter: blur(3px);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 25px;
    border-radius: 15px;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
    box-shadow: 2px  10px 30px rgba(0,0,0,0.5);
}

.close-button {
    position: absolute;
    right: 15px; top: 0px;
    cursor: pointer;
    font-size: 35px;
    color: #999;
}

.close-button:hover { color: #333; }

.info{
    height: 16px;
    width: 16px;
}

#info-text {
    text-align: left;    /* Besser lesbar bei viel Text */
    line-height: 1.5;    /* Mehr Platz zwischen den Zeilen */
    padding: 10px 5px;
    font-size: 0.95rem;
    color: #444;
}

#modal-title {
    margin-bottom: 15px;
    color: #333;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 10px;
}

.auswahl-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* alles horizontal zentrieren */
    align-items: flex-start;
    /* oben ausrichten */
    gap: 30px 100px;
    /* Abstand zwischen Boxen und Spielfeld */
    margin-top: 40px;
    max-width: 90%;
    font-size: 18px;
    margin-left: auto;
    /* links automatisch */
    margin-right: auto;
    /* rechts automatisch */

    font-family: 'Comic Neue2', cursive;
}

.game {
    transition: opacity 0.3s ease;
}

.game.hidden {
    display: none;
}

#noGamesMessage {
    display: none;
    /* Standardmäßig aus, JS schaltet es an */
    width: 100%;
    text-align: center;
    margin-bottom: 200px;
}

#noGamesMessage h2 {
    color: #555;
    font-family: sans-serif;
}

.game-title {
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
}

.ticimg {
    border: #333 1px solid;
    border-radius: 10px;
}

.connectfour {
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
}

.conimg {
    border-radius: 10px;
    border: #333 1px solid;
}

.battleship {
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
}

.batimg{
    border: 1px #333 solid;
    border-radius: 10px;
}

.zwei {
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
}

.zweimg {
    border: 1px #333 solid;
    border-radius: 10px;
}

.solitaire {
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
}

.solimg {
    border: #333 1px solid;
    border-radius: 10px;
}

.yazy {
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
}

.kniimg {
    border: 1px #333 solid;
    border-radius: 10px;
}

.dotsandboxes {
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
}

.kkimg {
    border: #333 1px solid;
    border-radius: 10px;
}

.memory {
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
}

.memimg {
    border: #333 1px solid;
    border-radius: 10px;
}

.mathquiz {
    text-decoration: none;
    color: #222;
    text-align: center;
    padding-bottom: 4px;
}

.mathimg {
    border: 1px #333 solid;
    border-radius: 10px;
}

/* ------------------ Main-End ------------------ */



/* ------------------ Footer ------------------ */
.site-footer {
    width: 100%;
    background-color: var(--blue);
    color: white;
    padding: 30px 0;
    margin-top: 50px;
}

.footer-social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.icon {
    background: white;
    color: var(--blue);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.8rem;
}

.footer-nav {
    text-align: center;
    font-size: 0.8rem;
}

.footer-nav a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.footer-nav a:hover {
    text-decoration: underline;
}

/* ------------------ Footer-End ------------------ */